<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = 對應介面的全限定符 -->
<mapper namespace="com.roger.department.mapper.DepartmentMapper">
    <!-- 透過部門名稱新增部門 -->
    <insert id="addDepartment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO department(name)
        VALUES (#{name})
    </insert>

    <!-- 透過部門名稱查找部門，使用 resultType -->
    <!-- <select id="findByDepartmentName" resultType="com.roger.department.pojo.Department">
        SELECT * FROM department
        WHERE name=#{name}
    </select> -->

    <!-- 使用部門名稱查找部門，使用 resultMap -->
    <resultMap id="departmentMap" type="com.roger.department.pojo.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="findByDepartmentName" resultMap="departmentMap">
        SELECT * FROM department
        WHERE name=#{name}
    </select>
</mapper>
