<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件的根元素 -->
<configuration>
    <settings>
        <!-- 開啟 mybatis 的日誌輸出，選擇使用 system 進行控制台輸出 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <!-- 屬性: 定義配置外在化
    <!- <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5433/postgres"/>
                <property name="username" value="postgres"/>
                <property name="password" value="mysecretpassword"/>
            </dataSource>
        </environment>
    </environments> -->
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/DepartmentMapper.xml"/>
    </mappers>
</configuration>